[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "valr"]
	path = valr
	url = https://github.com/rnabioco/valr
	shallow = true
	registered = true
