[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggtrace"]
	path = ggtrace
	url = https://github.com/rnabioco/ggtrace
	shallow = true
	registered = true
[submodule "clustifyr"]
	path = clustifyr
	url = https://github.com/rnabioco/clustifyr
	shallow = true
	registered = true
[submodule "valr"]
	path = valr
	url = https://github.com/rnabioco/valr
	shallow = true
	registered = true
